<tr id="<%= dom_id employee %>">
  <td>
    <%= employee.username %>
  </td>

  <td>
    <%= employee.name %>
  </td>

  <td>
    <%= employee.email %>
  </td>

  <td>
    <%= employee.password %>
  </td>

  <td>
    <%= employee.mobile %>
  </td>

  <td>
    <%= employee.joining_date %>
  </td>

  <td>
    <%= link_to "View", employee %>
  </td>
</tr>
